.grass {
    background-color: #3fa129;
}

.poison {
    background-color: #9141cb;
}

.fire {
    background-color: #e62829;
}

.water {
    background-color: #2980ef;
}

.ground {
    background-color: #915121;
}

.bug {
    background-color: #91a119;
}

.flying {
    background-color: #81b9ef;
}

.normal {
    background-color: #9fa19f;
}

.fairy {
    background-color: #e86ce8;
}



