.poke_list_block {
  height: 74px;
}

.loading {
  max-width: 330px !important;
  animation: change_bg 1.25s linear infinite;
}

@keyframes change_bg {
  0% {
    background-color: #fff;
    width: 190px;
  }
  30% {
    background-color: #81b9ef;
  }
  50% {
    width: 330px;
  }
  60% {
    background-color: #81b9ef;
  }
  100% {
    background-color: #fff;
  }
}
