.loading {
  border: 2px solid #0d6efd;
  max-width: 350px !important;
  animation: change_bg 1.5s linear infinite;
}

@keyframes change_bg {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #c5dcff;
  }
  100% {
    background-color: #fff;
  }
}
