.poke_team {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  height: 85vh;
  top: 7.5vh;
  width: 180px !important;
  box-shadow: 3px 4px 11px 1px rgba(171, 171, 171, 0.63);
  -webkit-box-shadow: 3px 4px 11px 1px rgba(153, 151, 151, 0.63);
  -moz-box-shadow: 3px 4px 11px 1px rgba(171, 171, 171, 0.63);
  border: 2px solid #0d6efd;
  z-index: 1000;
}

.show_team {
  left: 15px;
  transition: left 0.2s;
}

.hide_team {
  left: -100vw;
  transition: left 0.2s;
}

.poke_team::-webkit-scrollbar {
  width: 0px;
}

@media (min-width: 576px) {
  
  .poke_team {
    overflow-y: hidden;
  }

  .poke_team:hover {
    overflow-y: auto;
    padding-right: 7px;
  }

  .poke_team::-webkit-scrollbar {
    width: 5px;
  }

  .poke_team::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 5px;
    color: transparent;
  }
}
